body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333333;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1200px;
  gap: 15px;
}

.col {
  flex: 1;
  min-width: 300px;
}

.upload {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-choose-file, .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #ff6600, #ff8533);
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover, .button-choose-file:hover, .register:hover, .login:hover {
  background: linear-gradient(90deg, #333333, #303030);
  background-color: #333333;
  color: white;
  transform: translateY(-2px);
  transition: transform 0.3s ease, background-color 1s ease;
}

.preview-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
}

.settings {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-bar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.top-bar-item {
  display: inline-block;
}

.login, .register {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.login {
  background: #ccc;
  color: #000;
}

.register {
  background: #ff6600;
  color: #fff;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  max-width: 200px;
  opacity: 0.7;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 4px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff6600;
  cursor: pointer;
  border-radius: 4px;
}
.slider:hover{
  opacity: 1;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #d3d3d3;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s;
  opacity: 0.7;
  margin-bottom: 0px;
}

.checkbox:checked {
  background: #ff6600;
}

.checkbox-label {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}

.checkbox:hover {
  opacity: 1;
}

.number-input {
  margin-top:5px;
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  padding: 2px;
  background: #d3d3d3;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: background 0.2s, box-shadow 0.2s;
}

.number-input:hover {
  background: #c1c1c1;
}

.number-input:focus {
  box-shadow: 0 0 5px rgba(136, 136, 136, 0.7);
}

.select-input {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  padding: 2px;
  background: #d3d3d3;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: background 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.select-input:hover {
  background: #c1c1c1;
}

.select-input:focus {
  box-shadow: 0 0 5px rgba(136, 136, 136, 0.7);
}